<div nz-col [nzSpan]="24" class="article-content">
  <nz-spin [nzSpinning]="spin">
    <div nz-col [nzSpan]="24" class="title">
      {{article['title']}}
    </div>
    <div nz-col [nzSpan]="24" class="label">
      <div nz-col [nzSpan]="6" style="float: right">
        <i nz-icon type="clock-circle" theme="outline"></i>&nbsp;{{article['createTime'] | date: 'yyyy-MM-dd'}}
      </div>
      <div routerLink="/category/{{article['categoryId']}}" nz-col [nzSpan]="6" style="float: right">
        <a><i nz-icon type="tags" theme="outline"></i>&nbsp;{{article['categoryName']}}</a>
      </div>
    </div>
    <div nz-col [nzSpan]="24" class="content">

      <div class="content" id="content-editormd" appEditorShow [content]="article['content']">
        <textarea style="display: none" id="content"></textarea>
      </div>
    </div>
  </nz-spin>
</div>

