
  <ul nz-menu [nzMode]="'inline'" style="height:100%">
    <li nz-menu-item routerLink="/manage/console/dashboard">
      <span title><i nz-icon type="dashboard" theme="outline"></i>仪表盘</span>
    </li>
    <li nz-submenu routerLink="/manage/console/article/manage">
      <span title><i nz-icon type="read" theme="outline"></i>文章管理</span>
      <ul>
        <li nz-menu-item>新增文章</li>
        <li nz-menu-item>草稿箱</li>
        <li nz-menu-item>回收站</li>
      </ul>
    </li>
    <li nz-menu-item routerLink="/manage/console/category">
      <span title><i nz-icon type="tag" theme="outline"></i>分类管理</span>
    </li>
    <li nz-menu-item routerLink="/manage/console/navigation">
      <span title><i nz-icon type="compass" theme="outline"></i>导航管理</span>
    </li>
  </ul>
