<div nz-col [nzSpan]="6" class="left-box">
  <div style="padding-left: 67px">
    <nz-upload class="avatar-uploader"
               nzAction="/blog/v1/backend/uploadImg"
               nzName="file"
               nzListType="picture-card"
               [nzShowUploadList]="false"
               [nzBeforeUpload]="beforeUpload"
               (nzChange)="handleChange($event)">
      <ng-container *ngIf="!avatar">
        <i nz-icon type="plus"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="avatar" [src]="avatar" title="{{username}}" class="avatar">
    </nz-upload>
  </div>
  <p></p>
  <p class="username">{{username}}</p>
  <p>{{account}}</p>
</div>

<div nz-col [nzSpan]="17" [nzOffset]="1" class="right-box">
  信息面板
</div>
