<div>
  <p>标题：<input nz-input placeholder="Basic usage" [(ngModel)]="title" placeholder="请输入标题" style="width: 50%"></p>
  <p>标签图：</p>
  <p>
    <nz-upload nzAction="/blog/v1/backend/uploadImg"
               nzListType="picture-card"
               nzName="file"
               [nzShowUploadList]="false"
               [nzBeforeUpload]="beforeUpload"
               (nzChange)="handleChange($event)">
      <ng-container *ngIf="!imgUrl">
        <i nz-icon type="plus"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="imgUrl" [src]="imgUrl" class="image">
    </nz-upload>
  </p>

  <p>摘要：</p>
  <p><textarea rows="4" nz-input [(ngModel)]="summary"></textarea></p>

  <p>编写内容</p>
  <div id="md" appEditorWrite  [editormdConfig]="conf" (onEditorChange)="syncModel($event)">
    <textarea style="display: block;" [(ngModel)]="markdown"></textarea>
  </div><br/>


  <p>选择分类：
    <nz-cascader
      [nzOptions]="options"
      [(ngModel)]="category">
    </nz-cascader>
  </p>

  <p>添加标签：
    <nz-select nzMode="tags" style="width: 17%;" nzPlaceHolder="添加标签"
               [(ngModel)]="listOfTagOptions">
      <nz-option *ngFor="let option of listOfOption"
                 [nzLabel]="option.label"
                 [nzValue]="option.value">
      </nz-option>
    </nz-select>
  </p>

  <p>是否发布：
    <nz-switch [(ngModel)]="type" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
    <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template>
  </p>

  <p style="text-align: center">
    <button type="button" nz-button (click)="handleSave()">保存文章</button>
  </p>
</div>
