.not-found {
  text-align: center;
  line-height: 500px;
  font-size: 60px;
  font-family: "华文彩云";
}

.layui-col-xs12 .not-found {
  text-align: center;
  line-height: 400px;
  font-size: 40px;
  font-family: "华文彩云";
}
