<div nz-row style="background-color: #f0f2f5; padding-top: 6px">
  <div nz-col [nzSpan]="4" [nzOffset]="2">
    <app-sider></app-sider>
  </div>
  <div nz-col [nzSpan]="16">
    <nz-layout>

      <nz-header class="header">
        <app-header></app-header>
      </nz-header>

      <nz-content style="margin:9px 0 0 10px ;">

        <div class="content-box" nz-col [nzSpan]="24">
          <router-outlet></router-outlet>
        </div>

      </nz-content>

      <nz-back-top></nz-back-top>

      <nz-footer style="text-align: center;margin-top: 20px;">
        <app-footer></app-footer>
      </nz-footer>

    </nz-layout>
  </div>
</div>

