<div nz-row>
  <div nz-col [nzSpan]="24">
    <div nz-row class="table-head">
      <div>
        <div nz-col [nzSpan]="12" class="table-title">{{tableTitle}}</div>
        <div nz-col [nzSpan]="12" style="text-align: right">
          <button type="button" class="ant-btn ant-btn-primary" (click)="insertDrawer()">添加导航</button>
        </div>
      </div>
    </div>
    <nz-table #categoryTable [nzData]="navigationData"
              [(nzPageIndex)]="pageNum" [nzTotal]="total"
              [nzFrontPagination]="false" (nzPageIndexChange)="turnPage($event)">
      <thead>
      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>优先级</th>
        <th>链接内容</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of categoryTable.data">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.priority}}</td>
        <td>{{data.link}}</td>
        <td>
          <nz-switch [ngModel]="data.status" [nzCheckedChildren]="checkedTemplate"
                     [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="changeStatus(data.id, $event)"></nz-switch>
          <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
          <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template></td>
        <td>
          <a (click)="updateDrawer(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <nz-drawer [nzClosable]="true" [nzVisible]="visible"
               nzPlacement='right' nzTitle="编辑分类" [nzWidth]="350" (nzOnClose)="closeDrawer()">

      <form nz-form>
        <nz-form-item>
          <nz-form-label nzRequired>导航名称</nz-form-label>
          <input nz-input type="text" [(ngModel)]="name" name="name" placeholder="请输入导航名称">
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>优先级</nz-form-label>
          <nz-input-number [(ngModel)]="priority" name="priority" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>链接至</nz-form-label>
          <input nz-input type="text" [(ngModel)]="link" name="link" placeholder="请输入链接内容">
        </nz-form-item>
      </form>

      <div class="drawer-footer">
        <button type="button" (click)="closeDrawer()" class="ant-btn" style="margin-right: 20px;"><span>取消</span></button>
        <button type="button" (click)="handle()" class="ant-btn ant-btn-primary"><span>确认</span></button>
      </div>

    </nz-drawer>

  </div>
</div>

