<div nz-row>
  <div nz-col [nzSpan]="6" [nzOffset]="9" class="login-box">
    <p class="title">请登录</p>
    <form nz-form class="login-form">
      <nz-form-item>
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input placeholder="请输入账号" [(ngModel)]="account" name="account"/>
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group [nzPrefix]="prefixLock">
          <input type="password" nz-input placeholder="请输入密码" [(ngModel)]="password" name="password">
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group [nzPrefix]="prefixCaptcha">
          <input type="text" nz-input placeholder="请输入验证码" class="captcha-input" [(ngModel)]="captchaCode" name="captchaCode">
          <img src="http://api.ntshare.cn/blog/v1/captcha" title="验证码" alt="验证码" class="captcha"
               onclick="this.src='http://api.ntshare.cn/blog/v1/captcha?d=' + new Date() * 1">
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <label nz-checkbox>
          <span>记住我</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">忘记密码？</a>
      </nz-form-item>

      <nz-form-item>
        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="login()">登 录</button>
      </nz-form-item>
    </form>

    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    <ng-template #prefixCaptcha><i nz-icon type="check-circle" theme="outline"></i></ng-template>
  </div>

</div>
