<nz-skeleton nzActive="true" [nzLoading]="loading">
  <div nz-col [nzSpan]="24" *ngFor="let articleCard of articleCards">
    <div class="card">
      <div nz-col [nzSpan]="8" style="overflow: hidden;">
        <div class="thumbnail-box">
          <img src="{{articleCard.img}}" title='{{articleCard.title}}' alt="{{articleCard.title}}" class="thumbnail">
        </div>
      </div>
      <div nz-col [nzSpan]="16">
        <div nz-col [nzSpan]="24" class="title">
          <a routerLink="/article/{{articleCard.id}}">{{articleCard.title}}</a>
        </div>
        <div nz-col [nzSpan]="24" class="summary">
          {{articleCard.summary}}
        </div>
        <div nz-col [nzSpan]="24" class="label">
          <div nz-col [nzSpan]="8" style="text-align: left">
            <i nz-icon type="clock-circle" theme="outline"></i>&nbsp;{{articleCard.createTime | date: 'yyyy-MM-dd'}}
          </div>
          <div nz-col [nzSpan]="8">
            <i nz-icon type="appstore" theme="outline"></i>&nbsp;{{articleCard.categoryName}}
          </div>
          <div nz-col [nzSpan]="8" style="text-align: right">
            <a routerLink="/article/{{articleCard.id}}">阅读全文</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-skeleton>
<app-pagination [pageNum]="pageNum" [total]="total" (nowPageNum)="turnPage($event)"></app-pagination>
