.top-bar {
  height: 70px;
  line-height: 70px;
  background-color: #ebf1f5;
  padding-left: 30px;
  font-family: "华文新魏";
}

.top-bar .title {
  font-size: 26px;
  float: left;
}

.top-bar .search {
  float: right;
  width: 300px;
  margin-right: 30px;
  margin-top: 16px;
}

.top-bar .search .layui-input {
  border: 0;
  border-radius: 25px;
}


.mobile-top-bar {
  height: 50px;
  line-height: 50px;
  background-color: #ebf1f5;
  padding-left: 5px;
  font-family: "华文新魏";
}

.mobile-top-bar .title {
  font-size: 20px;
  float: left;
  padding-left: 15px;
}

.mobile-top-bar .mobile-menu {
  float: left;
}

.mobile-top-bar .search {
  float: right;
  width: 40%;
  margin-right: 6px;
  margin-top: 9px;
}

.mobile-top-bar .search .layui-input {
  border: 0;
  border-radius: 25px;
  height: 30px;
}
