.mix {
  text-align: center;
  height: 16rem;
  margin: 10px;
  font-family: "华文彩云";
}

.category-name {
  height: 10rem;
  line-height: 12rem;
  font-size: 60px;
}

.category-children {
  height: 3rem;
  line-height: 3rem;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 1.2rem;
}




