<div class="layui-col-md12 card layui-hide-xs">
  <div class="mix">
    {{categoryName}}
    <div class="child-category">
      <a (click)="changeCategory(category.id)" *ngFor="let category of categories"><div class="item">{{category.name}}</div></a>
    </div>
  </div>
</div>

<div class="layui-col-xs12 card layui-hide-md layui-hide-sm layui-hide-lg">
  <div class="mix">
    {{categoryName}}
    <div class="child-category">
      <a (click)="changeCategory(category.id)" *ngFor="let category of categories"><div class="item">{{category.name}}</div></a>
    </div>
  </div>
</div>
