.card-area {
  height: auto;
  padding: 10px 0 10px 0;
}

.data-card {
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  color: white;
  box-shadow: 2px 3px 5px #92abab;
  font-size: 24px;
  font-family: "华文楷体";
}

.font {
  font-size: 16px;
}
