.right-two {
  height: auto;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.ant-card-head {
  padding-left: 10px;
}

.ant-card-body {
  padding: 10px;
  min-height: 3rem;
}

.ant-tag {
  margin-bottom: 8px;
}

.tag-box {
  width: auto;
  height: auto;
  float: left;
  margin-bottom: 8px;
}


