<nz-layout class="layout">
  <nz-header class="header">
    <app-backend-header ></app-backend-header>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <app-backend-navigation></app-backend-navigation>
    </nz-sider>

    <nz-layout style="padding:0 24px 24px">

      <app-bread-crumbs></app-bread-crumbs>

      <nz-content class="console-content">
        <router-outlet></router-outlet>
      </nz-content>

    </nz-layout>
  </nz-layout>
</nz-layout>

