<div class="sider">
  <div style="position: absolute">
    <div class="background-box">
      <img src="http://img.ntshare.cn/bg.jpg" class="background-image">
    </div>
    <div class="user-info">
      <img src="{{avatar}}" class="avatar">
      <p class="username">{{username}}</p>
      <div nz-col [nzSpan]="12" class="info-box">
        <span class="weight">28</span>文章
      </div>
      <div nz-col [nzSpan]="12" class="info-box">
        <span class="weight">14</span>分类
      </div>
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'">
      <li nz-menu-item *ngFor="let navigation of navigations">
        <div (click)="changeCategory(navigation.link)">
          <span class="nav-text">{{navigation.name}}</span>
        </div>
      </li>
    </ul>
    <div style="height: 100px;background-color: #ffffff">
    </div>
  </div>
</div>
