.login-page {
  height: 750px;
}

.login-box {
  height: 500px;
  margin-top: 50px;
  padding: 100px 40px 0 40px;
  background-color: #f4f8ed;
  box-shadow: 5px 5px 5px #e2e2e2;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.input-box {
  margin: 20px 0 10px 0;
}

.captcha {
  width: 66%;
  float: left;
}

.captcha-code {
  float: left;
  padding: 2px 0 0 15px;
}

.login-button {
  padding-top: 25px;
  clear:both;
  text-align: center
}
