<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table #categoryTable [nzTitle]="tableTitle" [nzData]="categoryData"
              [(nzPageIndex)]="pageNum" [nzTotal]="total"
              [nzFrontPagination]="false" (nzPageIndexChange)="turnPage($event)">
      <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>parentId</th>
        <th>status</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of categoryTable.data">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.parentId}}</td>
        <td>{{data.status}}</td>
        <td>
          <a (click)="updateCategory(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="changeStatus(data.id)" >更改状态</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <nz-drawer [nzClosable]="true" [nzVisible]="visible"
               nzPlacement='right' nzTitle="编辑分类" [nzWidth]="400" (nzOnClose)="closeDrawer()">

      <form nz-form>
        <nz-form-item>
          <nz-form-label nzRequired>分类名称</nz-form-label>
            <input nz-input type="text" name="name" placeholder="请输入分类名称">
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>父级分类</nz-form-label>
            <input nz-input>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>分类状态</nz-form-label>
          <nz-switch></nz-switch>
        </nz-form-item>
      </form>

    </nz-drawer>

  </div>
</div>

