<div nz-row>
  <div nz-col [nzSpan]="24">
    <div nz-row class="table-head">
      <div>
        <div nz-col [nzSpan]="12" class="table-title">{{tableTitle}}</div>
        <div nz-col [nzSpan]="12" style="text-align: right">
          <button type="button" class="ant-btn ant-btn-primary" (click)="showModal()">添加图片</button>
        </div>
      </div>
    </div>
    <nz-table #table [nzData]="carouselImg"
              [(nzPageIndex)]="pageNum" [nzTotal]="total"
              [nzFrontPagination]="false" (nzPageIndexChange)="turnPage($event)">
      <thead>
      <tr>
        <th>ID</th>
        <th>图片</th>
        <th>链接</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{data.id}}</td>
        <td><img src="{{data.img}}" alt="轮播图" class="carousel-img"></td>
        <td><a href="{{data.link}}" target="_blank">{{data.link}}</a></td>
        <td>
          <nz-switch [ngModel]="data.status" [nzCheckedChildren]="checkedTemplate"
                     [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="changeStatus(data.id, $event)"></nz-switch>
          <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
          <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template></td>
        <td>
          <a (click)="delete(data.id)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <nz-modal [(nzVisible)]="visible" nzTitle="新增图片" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <nz-upload class="avatar-uploader"
                 nzAction="/blog/v1/backend/uploadImg"
                 nzName="file"
                 nzListType="picture-card"
                 [nzShowUploadList]="false"
                 [nzBeforeUpload]="beforeUpload"
                 (nzChange)="handleChange($event)">
        <ng-container *ngIf="!img">
          <i nz-icon type="plus"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="img" [src]="img"
              class="img">
      </nz-upload>
      <form nz-form>
        <nz-form-item>
          <nz-form-label nzRequired>链接地址</nz-form-label>
          <input nz-input type="text" [(ngModel)]="link" name="link" placeholder="请输入链接地址">
        </nz-form-item>
      </form>
    </nz-modal>

  </div>
</div>

