.article-card {
  height: 180px;
}

.card .above {
  height: 75%;
  overflow: hidden;
}

.card .below {
  height: 25%;
}

.title {
  font-size: 20px;
  transition: margin-left 1s;
  font-family: "华文隶书";
}

.card .title:hover {
  margin-left: 10px;
}

.summary {
  font-size: 16px;
  text-indent: 2em;
  height: 100px;
  line-height: 160%;
  overflow: hidden;
}

.label {
  margin-top: 10px;
  border-top: solid 1px #eaeaea;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0 5px 0 5px;
  font-size: 14px;
}
