<ul nz-menu [nzMode]="'inline'" style="height:100%">
  <li nz-menu-item routerLink="/console/dashboard">
    <span title><i nz-icon type="dashboard" theme="outline"></i>仪表盘</span>
  </li>
  <li nz-submenu>
    <span title><i nz-icon type="read"></i>文章管理</span>
    <ul>
      <li nz-menu-item routerLink="/console/article/write">新增文章</li>
      <li nz-menu-item routerLink="/console/article/list">文章列表</li>
      <li nz-menu-item routerLink="/console/article/draft">草稿箱</li>
      <li nz-menu-item routerLink="/console/article/recover">回收站</li>
    </ul>
  </li>
  <li nz-menu-item routerLink="/console/category">
    <span title><i nz-icon type="appstore" theme="outline"></i>分类管理</span>
  </li>
  <li nz-menu-item routerLink="/console/tag">
    <span title><i nz-icon type="tag" theme="outline"></i>标签管理</span>
  </li>
  <li nz-menu-item routerLink="/console/navigation">
    <span title><i nz-icon type="compass" theme="outline"></i>导航管理</span>
  </li>
</ul>
