<div nz-row>
  <div nz-col [nzSpan]="24">
    <div nz-row class="table-head">
      <div>
        <div nz-col [nzSpan]="12" class="table-title">{{tableTitle}}</div>
        <div nz-col [nzSpan]="12" style="text-align: right">
          <button type="button" class="ant-btn ant-btn-primary" (click)="insertDrawer()">添加标签</button>
        </div>
      </div>
    </div>
    <nz-table #categoryTable [nzData]="tagData"
              [(nzPageIndex)]="pageNum" [nzTotal]="total"
              [nzFrontPagination]="false" (nzPageIndexChange)="turnPage($event)">
      <thead>
      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>颜色</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of categoryTable.data">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.color}}</td>
        <td>
          <nz-switch [ngModel]="data.status" [nzCheckedChildren]="checkedTemplate"
                     [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="changeStatus(data.id, $event)"></nz-switch>
          <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
          <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template></td>
        <td>
          <a (click)="updateDrawer(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>

  </div>
</div>

