
.article-content {
  background-color: #ffffff;
  min-height: 600px;
}

.title {
  font-size: 26px;
  font-family: '华文隶书';
  height: 60px;
  line-height: 80px;
  padding-left: 20px;
  font-weight: bold;
  overflow: hidden;
}

.label {
  height: 40px;
  line-height: 40px;
  border-bottom: #efefef solid 1px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.content {
  font-size: 14px;
  padding-bottom: 30px;
  width: 100%;
  line-height: 200%;
}



