<div nz-col [nzSpan]="24" class="right-one">
  <nz-carousel nzEffect="fade" nzAutoPlay="true" nzAutoPlaySpeed="5000" >
    <div nz-carousel-content>
      <img src="assets/images/background.jpg" class="image"/>
    </div>
    <div nz-carousel-content>
      <img src="assets/images/492631.jpg" class="image"/>
    </div>
    <div nz-carousel-content>
      <img src="assets/images/981039.jpg" class="image"/>
    </div>
    <div nz-carousel-content>
      <img src="assets/images/1120635.jpg" class="image"/>
    </div>
    <div nz-carousel-content>
      <img src="assets/images/1125275.jpg" class="image"/>
    </div>
  </nz-carousel>
</div>
