<div nz-col [nzSpan]="24" *ngFor="let articleCard of articleCards">
  <div class="card article-card">
    <div nz-col [nzSpan]="24">
      <div nz-col [nzSpan]="24" class="title">
        <a routerLink="/article/{{articleCard.id}}">{{articleCard.title}}</a>
      </div>
      <div nz-col [nzSpan]="24" class="summary">
        {{articleCard.summary}}
      </div>
      <div nz-col [nzSpan]="24" class="label">
        <div nz-col [nzSpan]="8" style="text-align: left">
          <i nz-icon type="clock-circle" theme="outline"></i>&nbsp;{{articleCard.createTime | date: 'yyyy-MM-dd'}}
        </div>
        <div nz-col [nzSpan]="8">
          <i nz-icon type="appstore" theme="outline"></i>&nbsp;{{articleCard.categoryName}}
        </div>
        <div nz-col [nzSpan]="8" style="text-align: right">
          <a routerLink="/article/{{articleCard.id}}">阅读全文</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mobile-pagination [pageNum]="pageNum" [pages]="pages" (nowPageNum)="turnPage($event)"></app-mobile-pagination>
