.card .above {
  height: 75%;
  overflow: hidden;
}

.card .below {
  height: 25%;
}

.thumbnail {
  width: 93%;
  height: 170px;
}

.title {
  font-size: 20px;
  transition: margin-left 1s;
  font-family: "华文隶书";
}

.card .title:hover {
  margin-left: 10px;
}

.summary {
  padding-top: 10px;
  font-size: 16px;
  text-indent: 2em;
  height: 126px;
  line-height: 160%;
  overflow: hidden;
}

.label {
  margin-top: 10px;
  border-top: solid 1px #eaeaea;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 5px 0 5px;
}
