<div nz-col [nzSpan]="6" class="left-box">
  <div style="padding-left: 67px">
    <nz-upload class="avatar-uploader"
               nzAction="/blog/v1/backend/user/avatar"
               nzName="file"
               nzListType="picture-card"
               [nzShowUploadList]="false"
               [nzBeforeUpload]="beforeUpload"
               (nzChange)="handleChange($event)">
      <ng-container *ngIf="!userInfo['avatar']">
        <i nz-icon type="plus"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="userInfo['avatar']" [src]="userInfo['avatar']"
           title="{{userInfo['username']}}" class="avatar">
    </nz-upload>
  </div><br/>
  <p class="username">{{userInfo['username']}}</p>
  <div class="detail-info">
    <p>我的账号：{{userInfo['account']}}</p>
    <p>联系方式：{{userInfo['phone']}}</p>
    <p>电子邮箱：{{userInfo['email']}}</p>
    <p>个性签名：{{userInfo['signature']}}</p>
  </div>
  <button nz-button nzType="primary" (click)="showModal()">修改信息</button>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="修改信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form>
      <nz-form-item>
        <nz-form-label nzRequired>用户名称</nz-form-label>
        <input nz-input type="text" [(ngModel)]="userInfo['username']" name="username" placeholder="请输入用户名称">
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>联系方式</nz-form-label>
        <input nz-input type="text" [(ngModel)]="userInfo['phone']" name="phone" placeholder="请输入联系方式">
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>电子邮箱</nz-form-label>
        <input nz-input type="text" [(ngModel)]="userInfo['email']" name="email" placeholder="请输入电子邮箱">
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>个性签名</nz-form-label>
        <input nz-input type="text" [(ngModel)]="userInfo['signature']" name="signature" placeholder="请输入个性签名">
      </nz-form-item>
    </form>
  </nz-modal>

</div>

<div nz-col [nzSpan]="17" [nzOffset]="1" class="right-box">
  <nz-tabset [nzTabBarExtraContent]="clearMessageTemplate">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>
        <nz-badge [nzCount]="unreadMsgCount">
          消息中心&nbsp;&nbsp;
        </nz-badge>
      </ng-template>
      <div style="overflow: auto; height: 500px">
        <div class="message" *ngFor="let message of messages">
          <div class="up">
            <div class="title">
              <strong>{{message['title']}}</strong>&nbsp;&nbsp;|&nbsp;&nbsp;
              {{message['createTime'] | date: "MM-dd HH:mm"}}
            </div>
            <div class="button">
              <button *ngIf="message['status'] == 0" (click)="read(message['id'])" nz-button nzType="primary" nzSize="small">已阅</button>
              <button *ngIf="message['status'] == 1" (click)="delete(message['id'])" nz-button nzType="danger" nzSize="small">删除</button>
            </div>
          </div>
          <div class="content">
            {{message['content']}}
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
  <ng-template #clearMessageTemplate>
    <button nz-button (click)="clearMessage()">清空消息</button>
  </ng-template>
</div>
