<div class="layui-col-md2 navigation">
  <div class="layui-row">
    <div class="layui-col-md12 user">
      <img src="../../../assets/images/头像.png" title="头像" alt="头像" class="avatar">
      <br/><br/><h2>{{author.username}}</h2><br/>
      <p>
        <span><a href="https://blog.csdn.net/zai_xia" target="_blank">我的CSDN</a></span>
        <span><a href="mailto:seven.wk@foxmail.com">我的EMail</a></span>
      </p>
    </div>
    <a href="{{navigation.link}}" *ngFor="let navigation of navigations">
      <div class="layui-col-md12 item"  onmouseover="this.style.backgroundColor='#FFFFFF'"  onmouseout="this.style.backgroundColor='rgba(232, 238, 242, 0.91)'">
        {{navigation.name}}
      </div>
    </a>
    <div class="copyright">
      Designed by {{author.username}}
    </div>
  </div>
</div>
