.top-bar {
  height: 70px;
  line-height: 70px;
  background-color: #ebf1f5;
  padding-left: 30px;
  font-family: "华文新魏";
}

.top-bar .title {
  font-size: 26px;
  float: left;
}

.top-bar .search {
  float: right;
  width: 300px;
  margin-right: 30px;
  margin-top: 16px;
}

.top-bar .search .layui-input {
  border: 0;
  border-radius: 25px;
}
