/**
定义系统的全局样式
 */
body {
  font-size: 16px;
  font-family: "华文楷体";
}

.main {
  border: solid 1px #f1f5f8;
  font-size: 16px;
  margin-left: 21.8%;
  padding-bottom: 80px;
  background-color: #f1f5f8;
  min-height: 800px;
  max-height: max-content;
}

.card {
  height: 230px;
  margin-top: 40px;
  padding-right: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #e2e2e2;
}


.below .layui-col-md4 {
  text-align: center;
}

.pagination {
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
}

.pagination .layui-btn {
  background-color: #b5bbbf;
  margin: 0 5px 0 5px;
}

/*移动端css*/
.mobile-main {
  font-size: 16px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.mobile-main .card {
  height: 180px;
  margin-top: 30px;
  padding:3px 5px 3px 5px;
  background-color: #ffffff;
  border: 1px solid #c4c5cc;
}

/***************************************后台管理的CSS样式******************************************/
.table-head {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.table-title {
  font-size: 26px;
  font-family: "华文行楷";
}

.drawer-footer {
  position: absolute;
  bottom: 36px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: center;
  left: 0;
  background: #fff;
}



