/**
定义系统的全局样式
 */
body {
  font-size: 16px;
  font-family: "楷体";
}

a {
  color: black;
}

.card {
  height: 220px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #e2e2e2;
}

/***************************************后台管理的CSS样式******************************************/
.table-head {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.table-title {
  font-size: 26px;
  font-family: "华文行楷";
}

.drawer-footer {
  position: absolute;
  bottom: 36px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: center;
  left: 0;
  background: #fff;
}



